Dlls for game compiled with
gcc i686-w64-mingw32 10.3.0
-----------------------------

libbrotlicommon.dll
libbrotlidec.dll
libbrotlienc.dll
libdeflate.dll
libgcc_s_dw2-1.dll
libjbig-0.dll
libjpeg-8.dll
libjxl.dll
libLerc.dll
liblzma-5.dll
libmpg123-0.dll
libogg-0.dll
libopus-0.dll
libopusfile-0.dll
libpng16-16.dll
libssp-0.dll
libstdc++-6.dll
libtiff-5.dll
libwebp-7.dll
libwinpthread-1.dll
libzstd.dll
SDL2.dll
SDL2_image.dll
SDL2_mixer.dll
SDL2_ttf.dll
zlib1.dll